/*
** Body
*/
	body
	{
		background-image: url('../1 - Imagens/Backgrounds/PitchBlack.png');
		background-repeat: repeat;
		color: white;
	}

/*
** H4
*/

	h4
	{
		font-weight: bold;
	}

	a
	{
		color: white;
	}

/*
** Borda do Cabeçalho
*/			
	#HeaderBorder
	{
		border: solid;
		border-color: purple green #088A08 #6A0888;
		padding: 10px;
		text-align: center;
	}

	#Principal
	{
		width: 920px;
		border: 1px solid red;
		margin: 5px;
		padding: 10px;
	}

	.clear
	{
		clear: both;
	}

	.imagens-galeria
	{
		margin: 15px;
		float: left;
		width: 265px;
	}

	.noticia
	{
		width: 280px;
		background-color: blue;
		float: left;
		margin: 5px;
		padding: 5px;
		
	}

/*
** Formato das tabelas
*/
	.table-format
	{
		border-style: inset;
	}

/*
** Cor do Texto
*/
	.textcolor
	{
		color: white;
	}

