/*
** Imagem de fundo
*/

	#Backgroud-image
	{
		background-image: url('../1 - Imagens/Backgrounds/PitchBlack.png');
		background-repeat: repeat;
	}

/*
** Borda do Cabeçalho
*/			
	#HeaderBorder
	{
		border: solid;
		border-color: purple green #088A08 #6A0888;
		margin-bottom: 30px;
		padding: 10px;
	}

/*
** Elementos flutuantes
*/
	.float-exemp1
	{
		background-color: red;
		border-style: inset;
		float: left;
		margin: 10px;
		padding: 21px;
		text-align: center;
		width: 180px;
	}

	.float-exemp2
	{
		background-color: blue;
		border-style: inset;
		float: left;
		margin: 10px 10px 10px 130px;
		padding: 21px;
		text-align: center;
		width: 180px;
	}

/*
** Formato das tabelas
*/

	.table-format
	{
		border-style: inset;
	}

/*
** Cor do Texto
*/
	.textcolor
	{
		color: white;
	}