*
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    box-sizing: border-box;
}

body
{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #fff url(imagens/fundo.png) repeat-x left top;
}

a
{
    text-decoration: none;
}

img
{
    border: 2px solid #dfdfdf;
}

#conteiner
{
    width: 750px;
    margin: 0 auto;
}

#topo
{
    height: 150px;
    background: url(imagens/detalhe-topo.png) no-repeat right top;
    padding: 25px;
}

.logo
{
    width: 152px;
    height: 66px;
    background: url(imagens/logo.png) no-repeat top left;
    text-indent: -3000px;
}

#topo ul
{
    margin-top: 30px;
    float: left;
}

#topo li
{
    list-style-type: none;
    display: inline;
    background: #b10333;
    float: left;
}
#topo a
{
    color: white;
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.3em;
    line-height: 2.1em;
    background: url(imagens/divisor.png) no-repeat left;
}

#topo a:hover
{
    color: black;
}

#topo .divisor-primeiro a
{
    background: none;
}

body.home #navegacao-topo a#home, 
body.brasil #navegacao-topo a#brasil, 
body.internacional #navegacao-topo a#internacional, 
body.economia #navegacao-topo a#economia, 
body.saude #navegacao-topo a#saude, 
body.ciencia #navegacao-topo a#ciencia, 
body.fotos #navegacao-topo a#fotos
{
    background: #de003e;
    cursor: text;
}

/*
** Configura layout de três colunas
*/
#conteudo
{
    margin-top: 40px;
    background: #f5f5f5;
    margin-bottom: 20px;
}


#lateral
{
    width: 180px;
    float: left;
    margin: 60px 0px 0px -750px;

    /* border: 1px solid red; */
}

body#uma-coluna #primario
{
    width: 750px;
    margin: 0 0 20px 0;
}

body#duas-colunas #primario
{
    width: 555px;
}

/*
** -=-=-=-=-=-=-=-= Configura lateral
*/
    #lateral
    {
        background: #f3f3f3 url(imagens/fundo-caixa.png);
    }

    #lateral h2
    {
        font-size: 1.1em;
        background: #294c71;
        color: #fff;
        padding: 10px;

    }

    .lateral-entrevistas
    {
        margin-bottom: 15px;
        padding: 5px;
    }

    /*
    ** -=-=-=-=-=-=-=-= Configura lateral: Entrevistas
    */
        #lateral ul a
        {
            color: black;
            display: block;
            font-size: 0.9em;
            line-height: 30px;
            padding: 10px;

            /* border: 1px solid red; */
        }

        #lateral ul a:hover
        {
            background: #f9f9f9 url(imagens/marcador.png) no-repeat left center;
            color: #a1a1a1;
            padding: 10px 0px 10px 21px;
            width: 91%;
        }

    /*
    ** -=-=-=-=-=-=-=-= Configura lateral: News
    */
        label 
        {
            cursor: pointer;
            display: block;
            /* border: 1px solid red; */

        }

        #lateral form
        {
            padding: 10px 5px;
        }
        
        #lateral form input
        {
            background: #fff;
            height: 25px;
            font-size: 0.9em;
            margin: 10px -5px 0px -2px;
        }

        #lateral .submit input
        {
            background: #b10333;
            border: 2px solid #870529;
            cursor: pointer;
            margin: 10px 0px 0px 20px;
            text-align: center;
            width: 125px;

        }

        #lateral .submit input:hover
        {
            color: white;
        }



/*
** -=-=-=-=-=-=-=-= Configura conteúdo: primário
*/
    #primario
    {
        float: left;
        margin: 60px 0px 0px 195px;
        width: 270px;

        /* border: 1px solid blue; */
        /* background: rgb(63, 63, 232); */
    }

    #primario h2
    {
        background: #294c71;
        color: #fff;
        font-size: 1.1em;
        padding: 10px;

    }

    #primario h3
    {
        background: #de003e;
        border: 2px solid darkred;
        color: black;
        display: inline-block;
        font-size: 0.8em;
        margin: 20px 0px 10px 0px;
        padding: 3px;
        text-transform: uppercase;
    }


    /*
    ** -=-=-=-=-=-=-=-= Configura conteúdo primário: última entrevista
    */
        #primario #ultima-entrevista img
        {
            border: 3px solid #dfdfdf;
            width: 98%;
        
            /* border: 1px solid blue; */
        }
        #primario #ultima-entrevista a
        {
            color: darkred;
            font-size: 1.2em;
            text-decoration: underline;
        }

        #primario #ultima-entrevista a:hover
        {
            background: darkred;
            color: white;
            font-size: 1.2em;
            text-decoration: none;
        }
    
    /*
    ** -=-=-=-=-=-=-=-= Configura conteúdo primário: mundo
    */
        #primario #mundo li
        {
            /* margin: 30px 0px; */
            border-bottom: 1px solid #ccc;
            height: 65px;
            padding: 2px;
        }

        #primario #mundo a img
        {
            float: left;
            margin: 5px;
            width: 30%;
        }

        .noticias
        {
          

        }




/*
** -=-=-=-=-=-=-=-= Configura conteúdo: secundário
*/
    #secundario
    {
        width: 270px;
        float: left;
        margin: 60px 0px 0px 15px;

        /* border: 1px solid coral; */
        /* background: coral; */
    }

    #secundario h2
    {
        background: #294c71;
        color: #fff;
        font-size: 1.1em;
        padding: 10px;

    }

    #secundario h3
    {
        background: #b10333;
        border: 2px solid darkred;
        color: white;
        display: inline-block;
        font-size: 0.8em;
        margin: 20px 0px 10px 0px;
        padding: 3px;
        text-transform: uppercase;
    }

    /*
    ** -=-=-=-=-=-=-=-= Configura conteúdo secundário: destaque
    */
        #secundario #destaque img
        {
            border: 3px solid #dfdfdf;
            width: 98%;
        }

        #secundario #destaque a
        {
            color: darkred;
            font-size: 1.2em;
            text-decoration: underline;
        }

        #secundario #destaque a:hover
        {
            background: darkred;
            color: white;
            font-size: 1.2em;
            text-decoration: none;
        }

    
    /*
    ** -=-=-=-=-=-=-=-= Configura conteúdo secundário: notícias recentes
    */
    #primario #ultima-entrevista img
        {
            border: 3px solid #dfdfdf;
            width: 98%;
        
            /* border: 1px solid blue; */
        }
        #primario #ultima-entrevista a
        {
            color: darkred;
            font-size: 1.2em;
            text-decoration: underline;
        }

        #primario #ultima-entrevista a:hover
        {
            background: darkred;
            color: white;
            font-size: 1.2em;
            text-decoration: none;
        }
    
    /*
    ** -=-=-=-=-=-=-=-= Configura conteúdo primário: mundo
    */
        #secundario #noticias-recentes h2
        {
            margin: 30px 0px;
        }

        #secundario #noticias-recentes a
        {
            color: darkred;
            font-size: 0.9em;
            text-transform: uppercase;

            /* border: 1px solid seagreen; */
        }

        #secundario #noticias-recentes a:hover
        {
            background: darkred;
            color: white;

            /* border: 1px solid seagreen; */
        }

        #secundario #noticias-recentes img
        {
            float: left;
            margin-right: 10px;
            width: 30%;

            /* border: 1px solid seagreen; */
        }

        #secundario #noticias-recentes p
        {
            font-size: 0.9em;
            padding-left: 10px;
        }

        .noticias
        {
            margin-bottom: 20px;
        }

/*
** Configura o rodapé
*/
#rodape
{
    margin: 0 auto;
    padding: 20px;
    color: white;
    background: #294c71;
    text-align: center;
    clear: both;
}